<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button (click)="viewNotifications()">
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="user">
<!--(click)="changeState(edit_profile)-->
  <button class="">
    Edit Info
  </button>
  <!--image slide-->
  <div class="rlt">
    <ion-slides pager>
    <!--
      <ion-slide *ngFor="let image of user.images">
        <img src="{{ image }}" alt="">
      </ion-slide>
  -->
     <ion-slide >
        <img class="image" [src]="user.photoUrl" alt="">
      </ion-slide>
    </ion-slides>

  </div>
  <!--user info-->

</ion-content>
<!--
  Generated template for the UserProfile page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

